<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chapter 4 - CSS Demo</title>
    </head>
    <body>
        <header class="intro">
        </header>
        
        <nav>
        </nav>
        
        <div id="contentArea">
            
            <div id="mainContent">
                <section class="rounded">
                    <header>
                    </header>
                </section>
                
                <section>
                    <article class="featuredContent">
                        <a id="feature"></a>
                        <header>
                        </header>
                        
                        <div>
                        </div>
                    </article>
                
                    <article class="otherContent">
                        <a id="other"></a>
                        <header>
                        </header>
                        
                        <div>
                        </div>
                    </article>
                    
                    <article class="otherContent">
                        <a id="another"></a>
                        <header>
                        </header>
                        
                        <div>
                        </div>
                    </article>
                </section>
            </div>
            
            <aside id="sidebar">
                <section id="titles">
                    <article class="book">
                        <header>
                        </header>
                    </article>
                
                    <article class="book">
                        <header>
                        </header>
                    </article>
                
                    <article class="book">
                        <header>
                        </header>
                    </article>
                
                    <article class="book">
                        <header>
                        </header>
                    </article>
                
                    <article class="book">
                        <header>
                        </header>
                    </article>
                </section>
            </aside>
        </div>
        
        <footer>
        </footer>
        
    </body>
</html>
